.page__cover {
    margin: 0 auto;
    max-width: 1140px;
    width: calc(1140/1280*100%);
  }
  
  @media screen and (max-width: 1020px) {
    .page__cover {
      width: calc(668/760*100%);
    }
  }
  
  @media screen and (max-width: 760px) {
    .page__cover {
      width: calc(284/320*100%);
    }
  }