.techs__page {
    width: 100%;
    padding: 100px 0;
    background-color: #272727;
  }
  
  @media screen and (max-width: 1020px) {
    .techs__page {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }
  
  @media screen and (max-width: 760px) {
    .techs__page {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  .techs__case {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
  }
  
  @media screen and (max-width: 1020px) {
    .techs__case {
      width: 668px;
    }
  }
  
  @media screen and (max-width: 760px) {
    .techs__case {
      width: 284px;
    }
  }
  
  .techs__title {
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    margin: 0 0 90px 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #DADADA;
    color: var(--main-font-color)
  }
  
  @media screen and (max-width: 1020px) {
    .techs__title {
      margin-bottom: 80px;
    }
  }
  
  @media screen and (max-width: 760px) {
    .techs__title {
      font-size: 18px;
      letter-spacing: -0.72px;
      padding-bottom: 28px;
      margin-bottom: 60px;
    }
  }
  
  .techs__subtitle {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 0 0 26px 0;
    text-align: center;
    color: var(--main-font-color)
  }
  
  @media screen and (max-width: 1020px) {
    .techs__subtitle {
      margin-bottom: 22px;
    }
  }
  
  @media screen and (max-width: 760px) {
    .techs__subtitle {
      font-size: 30px;
      line-height: normal;
      letter-spacing: -1.2px;
      margin-bottom: 24px;
    }
  }
  
  .techs__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
    margin: 0 auto 100px;
    text-align: center;
    max-width: calc(460/1140*100%);
    color: var(--main-font-color)
  }
  
  @media screen and (max-width: 1020px) {
    .techs__description {
      margin-bottom: 83px;
      max-width: calc(460/768*100%);
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.48px;
    }
  }
  
  @media screen and (max-width: 760px) {
    .techs__description {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: -0.44px;
      margin-bottom: 50px;
      max-width: 100%;
    }
  }
  
  .techs__lists {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 90px);
    gap: 10px;
    list-style: none;
    max-width: 690px;
    margin: 0 auto;
    padding: 0;
  }
  
  @media screen and (max-width: 1020px) {
    .techs__lists {
      grid-template-columns: repeat(auto-fit, 84px);
      max-width: 648px;
    }
  }
  
  @media screen and (max-width: 760px) {
    .techs__lists {
      grid-template-columns: repeat(auto-fit, 84px);
      max-width: calc(178/284*100%);
    }
  }
  
  .techs__list {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    padding: 21px 0;
    border-radius: 10px;
    background-color: #303030;
    text-align: center;
    color: var(--main-font-color)
  }
  
  @media screen and (max-width: 1020px) {
    .techs__list {
      font-size: 12px;
      letter-spacing: -0.48px;
    }
  }