.aboutme__page {
  width: 100%;
  padding: 110px 0 101px;
}

@media screen and (max-width: 1020px) {
  .aboutme__page {
    padding-top: 90px;
    padding-bottom: 91px;
  }
}

@media screen and (max-width: 760px) {
  .aboutme__page {
    padding-top: 71px;
    padding-bottom: 70px;
  }
}

.aboutme__case {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

@media screen and (max-width: 1020px) {
  .aboutme__case {
    width: 668px;
  }
}

@media screen and (max-width: 760px) {
  .aboutme__case {
    width: 284px;
  }
}

.aboutme__title {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 66px 0;
  line-height: normal;
  letter-spacing: -0.88px;
  padding-bottom: 24px;
  border-bottom: 1px solid #DADADA;
  color: var(--main-font-color)
}

@media screen and (max-width: 760px) {
  .aboutme__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 60px;
    padding-bottom: 28px;
  }
}

.aboutme__container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(0, 600px) 270px;
  width: 100%;

}

@media screen and (max-width: 1020px) {
  .aboutme__container {
    grid-template-columns: minmax(0, 367px) 255px;
  }
}

@media screen and (max-width: 760px) {
  .aboutme__container {
    grid-template-columns: minmax(284px, auto);
    row-gap: 38px;
    justify-content: center;
  }
}

.aboutme__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0 0 18px 0;
  color: var(--main-font-color);
}

@media screen and (max-width: 1020px) {
  .aboutme__name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 760px) {
  .aboutme__name {
    font-size: 30px;
    letter-spacing: -1.2px;
    margin-bottom: 18px;
  }
}

.aboutme__job {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 26px 0;
  color: var(--main-font-color);
}

@media screen and (max-width: 1020px) {
  .aboutme__job {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 760px) {
  .aboutme__job {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 20px;
  }
}

.aboutme__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 99px 0;
  color: var(--main-font-color);
}

@media screen and (max-width: 1020px) {
  .aboutme__description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 86px;
  }
}

@media screen and (max-width: 760px) {
  .aboutme__description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 39px;
  }
}

.aboutme__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: var(--main-font-color);
  transition: opacity .3s linear;
}

.aboutme__image {
  display: block;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 1020px) {
  .aboutme__image {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 760px) {
  .aboutme__image:first-of-type {
    justify-self: center;
    width: 284px;
    grid-column: 1;
    grid-row: 1;
    height: 352px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .aboutme__link:hover {
    opacity: .7;
    cursor: pointer;
  }
}